
<div class="aboutapp">
  <div class="title">
    <span>I</span>mage <span>F</span>ight
  </div>
  <div class="signup">
    <%= form_for(resource, :as => resource_name, :url => user_registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div><%= f.label :nickname  %><br />
          <%= f.text_field :nickname, :class=>"form-control" %></div>

        <div><%= f.label :email %><br />
          <%= f.email_field :email, :autofocus => true, :class=>"form-control" %></div>

        <div><%= f.label :password %><br />
          <%= f.password_field :password, :class=>"form-control" %></div>

        <div><%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, :class=>"form-control" %></div>

        <div><%= f.submit "Sign up" %></div>
    <% end %>
  </div>
</div>

