<div class="sectionname">Fights/</div>
<div class="search">
  <ul>
    <%= form_tag("/search", method: "get") do %>
        <li><%= label_tag(:q, "Search for:") %></li>
        <li><%= text_field_tag(:q, "Type Keywords", :class=>"form-control") %></li>
        <li><%= submit_tag("Search", :class=>"btn btn-primary")%></li>
    <% end %>
  </ul>
</div>
<div class="subnavigation">
  <ul>
    <li><%= link_to("latest",  fights_path) %></li>
    <li><%= link_to("popular", popular_fights_path) %></li>
    <li><%= link_to("closed fights", closed_fights_path) %></li>
    <% if signed_in? %>
    <li><%= link_to("my fights", fights_user_path(current_user))%></li>
    <% end %>
  </ul>
</div>