<%= render "search_and_subnav" %>

<section class="show">
  <div class="subtitle">
    <h3>Fights / <%= @active_place %></h3>
  </div>
  <div class="insideshow">
    <div class="category">
      <h3>Categories / </h3>
      <ul>
        <li>
          <%= link_to("All") %></li>
        <% @categories.each do |category| %>
            <li><%= link_to(category.name.humanize.add_question_mark, "?category=#{category.name}") %></li>
        <% end %>
      </ul>
    </div>
    <section class="elements">
      <% @fights.each do |fight| %>
        <article>
          <div class="fight_element">
            <div><%= image_tag(fight.player_1_image.image_file.url(:medium), class:"img-responsive nicebackground") %></div>
            <div class="image_title"><%= fight.player_1_image.title %></div>
          </div>
          <div class="vs_index"> VS </div>
          <div class="fight_element">
            <div><%= image_tag(fight.player_2_image.image_file.url(:medium), class:"img-responsive nicebackground") %></div>
            <div class="image_title"><%= fight.player_2_image.title %></div>
          </div>
          <div class="show_fight"><%= link_to("Show Fight", fight_path(fight.id)) %></div>
        </article>


      <% end %>
      </section>
</div>
</section>




