<%= render "search_and_subnav" %>

<section class="show">
  <div class="subtitle">
    <h3>Fights / <%= @active_place %></h3>
  </div>
  <div class="insideshow">

    <section class="showelements">

          <article>
            <div class="big_fight_element">
                  <div class="player_username"><%= @player_1.username %></div>
                  <div><%= image_tag(@fight.player_1_image.image_file.url, class:"img-responsive nicebackground") %></div>
                  <div class="image_title"><%= @fight.player_1_image.title %></div>
              <% if @player_1.present? %>
                  <% if @allow_to_vote %>
                      <div><%= button_to("Vote",  votes_path(@fight)+"?for_player_id=#{@player_1.id}", :method => :post) %></div>
                  <% else %>
                      <div class="votes_number"><%=pluralize @player_1_votes_number, 'vote' %></div>
                  <% end %>
              <% end %>
            </div>
            <div class="vs_index"> VS </div>
            <div class="big_fight_element">
              <% if @player_2.present? %>
                  <div class="player_username"><%= @player_2.username %></div>
                  <div><%= image_tag(@fight.player_2_image.image_file.url, class:"img-responsive nicebackground") %></div>
                  <div class="image_title"><%= @fight.player_2_image.title %></div>
                  <% if @allow_to_vote %>
                      <div><%= button_to("Vote", votes_path(@fight)+"?for_player_id=#{@player_2.id}", :method => :post) %></div>
                  <% else %>
                      <div class="votes_number"><%=pluralize @player_2_votes_number, 'vote' %></div>
                  <% end %>
              <% else %>
              <div>Waiting for opponent</div>
              <div><%= image_tag("default_fight.jpg", class:"img-responsive")%></div>
              <% end %>
             </div>
            <% if @closed == true %>
                <div class="show_winner"><%= @winner %></div>
            <% end %>
          </article>
    </section>
  </div>
</section>
