/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body{
    background-color: #F8F8FA;
}

hr{
    margin-top: 0px;
    margin-left: 0px;
    width: 70% ;
    color: black;
}
h3{
    color:#DADAE0;
}
.subtitle{
    padding-left: 90px;
    padding-top: 30px;
}
a{
    color :white;
}
a:link {
    color: #000000;
}
a:visited {
    color: #000000!important;
}
a:hover {
    color:#646E6A!important;
    text-decoration: none;

}
a:active {
    color:#F8F8FA!important;
}

.head_strap{
    margin:0 ;
    padding: 0;
    min-width: 960px;
    position:relative;

}
.information_strap{
    margin: 0;
    padding: 0;
    float: left;
    height: 100px;
    font-size: 1em;
    font-weight: bold;

}
.information_strap ul{
   margin:0 ;
   padding: 0;
   display: inline-block;
   background-color: #fe9a27;
   min-width: 500px;
   height: 46px;
   -moz-box-shadow: 0px 1px 6px #888;
   -webkit-box-shadow: 0px 1px 6px #888;
   box-shadow: 0px 1px 6px #888;
}
.information_strap ul li{
    display: inline;
    list-style: none;
}
.triangle-box{
    margin-left: -4px;
    display: inline-block;
    height: 26px;

}
.triangle-topleft {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    width: 0;
    height: 0;
    border-left: 0px;
    border-top: 46px solid #fe9a27;
    border-right: 55px solid transparent;
}
.logo {
    width: 48px;
    height:42px;
    margin-top: 2px;
    margin-left: 20px;
}
.account{
    position: absolute;
    top:10px;
    right: 5px;
    width: 410px;
    height:150px;

}
.account a:link, .account a:visited{
    color: #9FA7ED!important;
    font-weight: bold;
}
.account a:hover{
    color:#646E6A!important;
}

.account ul{
    margin:0 ;
    padding: 0;
    display: inline-block;
    min-width: 410px;
}
.account ul li{
    display: inline-block;
    list-style: none;
    max-width: 100px;

}
.float_right{
    float: right;
    margin: 10px;
}
.float_right a:link{
    color: white;
}
.navigation{
    clear: both;
    margin: 50px;
    margin-bottom: 0px;

}
.navigation ul li{
    display: inline-block;
    list-style: none;
    height: 35px;
    width: 160px;
    background-repeat: no-repeat;
    background-position: 0 0px;

}
.navigation-menu{
    padding-top: 15px;
    padding-left: 50px;
    font-size: 1em;
    line-height: 20px;
    float:left;
}
.navigation ul li:hover{
    background-position: 0 -65px;
    -webkit-transition: background-position 1s ease;
    -moz-transition: background-position 1s ease;
    -o-transition: background-position 1s ease;
}

.navigation a{
    color: black;
    font-weight: bold;
    padding-top:7px;
    font-weight: 1.2em;
}
.homeicon{
    background-image: url("/assets/homeicon.png");
}
.fighticon{
    background-image: url("/assets/fighticon.png");
}
.imageicon{
    background-image: url("/assets/imageicon.png");
}
.howicon{
    background-image: url("/assets/howicon.png");
}

.middlecontainer{
    min-width:960px;
    clear: both;
    margin-top:20px;

}
.aboutapp{
    display:inline-block;
    float: left;
    width:410px;
    font-size:2em;
    margin-left: 90px;
    margin-right: 90px;
}
.aboutapp p{
    font-size:0.7em;
}
.title span{
    font-weight: bold;
}
.signup{
    display:inline-block;
    float: left;
    width: 320px;
    margin-bottom:100px;
}

.form_edit_addimage{

    display:inline-block;
    width: 320px;
    margin-left: 100px;
    margin-bottom:100px;
}
.sectionname{
    clear: both;
    float:right;
    margin-right:15px;
    margin-top:50px;
    font-size: 2em;
}
.search{
    clear: both;
    float: left;
    display: inline-block;
    min-width: 400px;
    margin-top: 20px;
    margin-bottom: 0px;

}
.search ul li{
    display: inline-block;
    list-style: none;

}
.search input[text]{
    width:300px;
}

.subnavigation{
    float: right;
    display: inline-block;
    margin:0 ;
    height:50px;

}
.subnavigation ul li{
    display: inline-block;
    list-style: none;
    text-align: center;
    width: 130px;
    padding-top: 21px;
    padding-bottom: 21px;
    font-size: 1.2em;
}

.subnavigation ul li:hover{
    background-color: #fe9a27;
    -moz-transition: background-color 2s;
    -webkit-transition:background-color 2s;
    -o-transition:background-color 2s;
    transition:background-color 2s;
}
.subnavigation a{
    font-style: italic;
}
.subnavigation a:link, a:visited{
    color: #444444;
}
.show{
    clear: both;
    margin: 0 auto;
    padding-top: 0px;
    background-color: #1c2424;
    width: 100%;

}
.insideshow{
    min-width: 960px;
    min-height: 500px;
    text-align: center;
    margin:0 auto;
    margin-top:50px;
    padding-bottom:50px;
}
.elements{
    display:inline-block;
    width:600px;
    text-align: left;
}
.showelement{
    width: 960px;
}
.elements article{

    padding:10px;
    margin-bottom: 50px;
    background-color: #283333;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.maincontainer{
  min-width: 960px;
  max-width: 100%;


}
.image_element{
  display: inline-block;
  width: 190px;
  padding: 5px;
  height: 200px;

}
.big_image_element{
    display: inline-block;
    width: 800px;
    padding: 5px;

}

.fight_element{
  display: inline-block;
  vertical-align: middle;
  width: 250px;
  padding: 5px;
  margin-top: 0px;

}
.big_fight_element{

  display: inline-block;
  vertical-align: middle;
  width: 400px;
  padding: 5px;
  margin-top: 0px;

}
.vs_index{
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 2em;
    font-weight: bold;
    color: whitesmoke;
}
.show_fight{
    font-size: 1.3em;
    padding-top:10px;
    padding-left: 240px;
}
.show_fight_in_images{
    font-size: 1.2em;
    padding-top:10px;
    text-align: center;
}
.player_username{
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold
}
.votes_number{
    padding: 10px;
    font-size:1.4em;
    color: whitesmoke;
}
.image_title{
    color: #d6d9f2;
    padding-top:10px;
    text-align: center;
}
.show_winner{
    color: #F8F8FA;
    font-size: 1.5em;
}
.nicebackground{
    padding:5px;
    background-color: #22211f;
    border: 2px solid #383f3f;

}
.category{
    float: right;
    margin-top: 0px;
    margin-right: 50px;
    width: 310px;
    text-align: left;
}
.category ul li{
    list-style: none;
    font-size:1.3em;
}
.addimage{
    margin-top:10px;
}

.modal-content{
    width:500px;
}

footer{
    clear: both;
    width: 100%;
    color: #8C8C8C;
    font-size: 0.8em;
    font-weight: bold;
    background-color: #1c2424;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;


}

