<% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
        <% @image.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<%= form_for(@image, :html => { :multipart => true }) do |f| %>
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title , :class=>"form-control" %>
    </div>
    <div class="field">
      <%= f.label :category %>
      <select class="form-control" id="image_category_id" name="image[category_id]">
        <% Category.all.each do |category| %>
            <option value="<%= category.id %>"><%= category.name.humanize %> ?</option>
        <% end %>
      </select>

    </div>
    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description, :class=>"form-control" %>
    </div>
    <div class="field">
      <%= f.label :image_url %>
      <%= f.text_field :image_url, :class=>"form-control" %>
    </div>
    <div>or</div>
    <div class="field">
      <%= f.label "Upload from disk" %>
      <%= f.file_field :image_file %>
    </div>
    <div class="field addimage">
      <%= f.submit "Add", :class=>"btn btn-primary" %>
    </div>
<% end %>
