<div class="sectionname">Images/</div>
<div class="search">
  <ul>
    <%= form_tag("/search", method: "get") do %>
        <li><%= label_tag(:q, "Search for:") %></li>
        <li><%= text_field_tag(:q, "Type Keywords", :class => "form-control") %></li>
        <li><%= submit_tag("Search", :class => "btn btn-primary") %></li>
    <% end %>
  </ul>
</div>
<div class="subnavigation">
  <ul>
    <% if signed_in?  %>
    <li><%= link_to("Add Image", new_image_path, :id=>"add_image")%></li>
    <% end %>
    <li><%= link_to("currently fighting", images_path) %></li>
    <li><%= link_to("hall of fame", hall_of_fame_images_path) %></li>
    <% if signed_in? %>
    <li><%= link_to("my images", images_user_path(current_user)) %></li>
    <% end %>
  </ul>
</div>