<%= render "search_and_subnav" %>
<section class="show">
  <div class="subtitle">
    <h3>Images / <%= @active_place %></h3>
  </div>
  <div class="insideshow">
  <div class="category">
    <h3>Categories / </h3>
    <ul>
      <li><% link_to("All", "?") %></li>
      <% @categories.each do |category| %>
          <li><%= link_to(category.name.humanize.add_question_mark, "?category=#{category.name}") %></li>
      <% end %>
    </ul>
  </div>
  <section class="elements">
  <% @images.each do |image| %>
      <div class="image_element">
        <div>
          <%= link_to image_tag(image.image_file.url(:medium), class: "img-responsive nicebackground"), "/users/#{image.user_id}/images/#{image.id}" %>
        </div>
        <div class="image_title"><%= image.title %></div>
        <% if @owner==current_user && image.fight == nil %>
            <div class="show_fight_in_images"><%= button_to("Start Fight", "/fights/start_fight?image=#{image.id}", method: :post ,:class => "btn btn-primary") %></div>
        <% elsif image.fight %>
            <div class="show_fight_in_images"><%= link_to("Fight Preview", fight_path(image.fight)) %></div>
        <% end %>
      </div>
  <% end %>
  </section>
  </div>
</section>



