<%= render "search_and_subnav" %>
<section class="show">
  <div class="subtitle">
    <h3>Images / <%= @image.title %></h3>
  </div>
  <div class="insideshow">
      <div class="big_image_element">
        <div><%= image_tag(@image.image_file.url, class: "img-responsive nicebackground") %></div>
        <div class="image_title"><%= @image.title %></div>
      </div>
  </div>
</section>
