<!DOCTYPE html>
<html>
<head>
  <title>Image Fight</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag :defaults %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="/assets/javascript.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>


</head>
<body>
<div class="head_strap">
  <div class="information_strap">
    <ul>
      <li><img src="/assets/logo.png" alt="logo image fight" class="logo"/></li>
      <li><%= link_to("Image Fight", root_path)%></li>
    </ul>
    <div class="triangle-box">
      <div class="triangle-topleft"></div>
    </div>
  </div>
  <div class="account">

    <% unless user_signed_in? %>

        <%= form_for("user", :url => user_session_path, :method => "post") do |f| %>
              <ul>
              <li><%= f.email_field :email, :class => "form-control", :placeholder => "Email" %></li>
              <li><%= f.password_field :password, :class => "form-control", :placeholder => "Password" %></li>
              <li><%= f.submit "Sign in", :class => "btn btn-success", :value => "Sign in" %></li>
              <% if devise_mapping.rememberable? -%>
                  <li><%= f.check_box :remember_me %></li>
                  <li><%= f.label :remember_me %></li>
              <% end %>
              </ul>
            <% if request.env['PATH_INFO']!="/" %>
              <div class="float_right"><span>Don't have you account ? </span><%= link_to("Sign up", root_path) %></div>
            <% end %>
            <div class="float_right">Forget the password ?</div>
        <% end -%>
    <% else %>
          <ul>
          <li>Logged as : </li>
          <li><%= current_user.username || current_user.email %></li>
          <li><%= link_to("Settings", edit_user_registration_path) %></li>
          <li><%= link_to("Sign Out", sign_out_path, :method => :delete) %></li>
          </ul>
    <% end %>

  </div>
</div>
<div class="navigation">
  <ul>
    <li class="fighticon"><%= link_to("Fights", fights_path, :class => "navigation-menu") %></li>
    <li class="imageicon"><%= link_to("images", images_path, :class => "navigation-menu") %></li>
    <li class="howicon"><%= link_to("Hall Of Winners", images_path, :class => "navigation-menu") %></li>
  </ul>
</div>
<hr></hr>
<div class="maincontainer">
  <% if flash[:alert] %>
      <p class="alert alert-error "><%= flash[:alert] %> </p>
  <% end %>
  <% if flash[:error] %>
      <p class="alert alert-error"><%= flash[:error] %> </p>
  <% end %>
  <% if flash[:notice] %>
      <p class="alert alert-info"><%= flash[:notice] %> </p>
  <% end %>

      <%= yield %>

</div>

<!-- additional windows (popup) -->
<div class="modal fade" id="add_image_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Add new Image</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<footer>
  <p>&copy; Radosław Maurer 2013</p>
</footer>
</body>
</html>
