<div class="form_edit_addimage">
  <h3>Edit <%= resource_name.to_s.humanize %></h3>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:method => :put}) do |f| %>
      <%= devise_error_messages! %>

      <div><%= f.label :email %>
        <br/>
        <%= f.email_field :email, :autofocus => true, :class => "form-control" %></div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br/>
        <%= f.password_field :password, :autocomplete => "off", :class => "form-control" %></div>

      <div><%= f.label :password_confirmation %>
        <br/>
        <%= f.password_field :password_confirmation, :class => "form-control" %></div>

      <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br/>
        <%= f.password_field :current_password, :class => "form-control" %></div>

      <div><%= f.submit "Update" %></div>
  <% end %>

  <h3>Cancel my account</h3>

  <p>Unhappy? <%= button_to "Delete my account", registration_path(resource_name), :data => {:confirm => "Are you sure?"}, :method => :delete %></p>

</div>

