<div class="middlecontainer">
  <div class="aboutapp">
    <h1>Image Fight</h1>
    <p>Upload images or add them using URL</p>
    <p>Choose image, pick category and start fight</p>
    <p>Vote and comment, get achivements</p>
    <p>and more... it is still Alfa version</p>

  </div>
  <div class="signup">
    <h2>Sign Up, its free</h2>
    <%= form_for(@user, :url => user_registration_path(@user)) do |f| %>
        <%= devise_error_messages! %>

        <div><%= f.label :username  %><br />
          <%= f.text_field :username, :autofocus => true, :class=>"form-control" %></div>

        <div><%= f.label :email %><br />
          <%= f.email_field :email, :class=>"form-control" %></div>

        <div><%= f.label :password %><br />
          <%= f.password_field :password, :class=>"form-control" %></div>

        <div><%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, :class=>"form-control" %></div>

        <div><%= f.submit "Sign up", :class => "btn btn-primary" %></div>
    <% end %>
  </div>
</div>

